<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Andrew Matt's Portfolio Website">
        <meta name="author" content="Andrew Matt">
        <meta name="keywords" content="Portfolio Website Andrew Matt">
        <meta name="application-name" content="Andrew Matt Portfolio Website">
        <title>Portfolio</title>
        <noscript>Please enable JavaScript to view the website properly!</noscript>
        {% block head %}
        
        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>

